<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </httpHandlers>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="3000"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!--<add name="iDiaryConnectionString" connectionString="Data Source=49.50.103.127,8463;Initial Catalog=iDiaryV3_GyanLok;User ID=sa;Password=qazwsxcde!@#765" providerName="System.Data.SqlClient"/>-->
    <add name="iDiaryConnectionString" connectionString="Data Source=Abhinav\Abhinav;Initial Catalog=iDiaryV3_GyanLok;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="iDiaryConnectionString" connectionString="Data Source=DESKTOP-MJ8JCK0;Initial Catalog=iDiaryV3_GyanLok;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="iDiaryConnectionString" connectionString="Data Source=DESKTOP-MJ8JCK0;Initial Catalog=iDiaryV3_GyanLok;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".bak" mimeType="application/octet-stream"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="WebControlCaptcha" verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>